# Assignment 1
### Understanding Uncertainty
### Due 9/5

## Question 1-3
1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [2]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Download file already exists
Data directory already exists

## Question 4. 
- Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

In [3]:
import pandas as pd
df = pd.read_csv('data/college_completion.csv')

In [4]:
df.head()

,index,unitid,chronname,city,state,level,control,basic,hbcu,flagship,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

## Question 5. 
- **Pick two or three variables and briefly analyze them**
    - **Is it a categorical or numeric variable?**
    - **How many missing values are there? (`df['var'].isna()` and `np.sum()`)**
    - **If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)**

I choose to look at the variables `state`, `control`, and `grad_100_value`.

### `state`:
- This variable indicates the geographic location (U.S. state) of the institution
- This is a categorical variable for geographic location
- By running the code below, we see that there are no missing values for the `state` column.

In [5]:
is_na = df['state'].isna().sum()
print(is_na)

0

### **Value Count By State:**

In [6]:
state_count = df['state'].value_counts()
print(state_count)

state
California              350
New York                241
Pennsylvania            217
Texas                   207
Ohio                    185
Florida                 176
Illinois                141
North Carolina          135
Georgia                 106
Virginia                104
Missouri                103
Minnesota               101
Massachusetts           100
Michigan                 94
Tennessee                94
Washington               73
Wisconsin                71
Colorado                 70
Alabama                  69
Kentucky                 67
Indiana                  67
South Carolina           66
Arizona                  63
Kansas                   62
Iowa                     61
Oklahoma                 56
Louisiana                56
New Jersey               55
Maryland                 52
Oregon                   50
Arkansas                 48
New Mexico               40
West Virginia            39
Mississippi              36
Nebraska                 36
Connecticut              35
Utah                     30
Maine                    29
New Hampshire            24
South Dakota             23
Montana                  22
Vermont                  20
Nevada                   20
North Dakota             20
Hawaii                   18
Idaho                    16
District of Columbia     12
Rhode Island             11
Delaware                 11
Wyoming                   9
Alaska                    7
Name: count, dtype: int64

### `control`:
- This variable indicates the type of institution (public, private not-for-profit, private for-profit)
- This is a categorical variable
- By running the code below, we see that there are no missing values for the `control` column.

In [7]:
control_na = df['control'].isna().sum()
print(control_na)

0

### **Value Count By Institution Type:**

In [8]:
control_count = df['control'].value_counts()
print(control_count)

control
Public                    1558
Private not-for-profit    1248
Private for-profit         992
Name: count, dtype: int64

### `grad_100_value`:
- This variable indicates the institutions 4-year graduation rate
- This is a numeric variable
- By running the code below, we see that there are 331 missing values for the `grad_100_value` column.

In [9]:
grad_value_na = df['grad_100_value'].isna().sum()
print(grad_value_na)

331

### **Summary Statistics:**

In [ ]:
grad_value_summary = df["grad_100_value"].describe()
print(grad_value_summary)

- For this column, we see that the mean graduation rate is 28.36; the median is 22.5; and the min and max values are 0.0 and 100.0, respectively

## Question 6. 
**What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?**

**1. Potential Questions:**
- What mix of factors does the best job at predicting retention rates?
- Which students are at a high risk of not graduating within 6-years of admission?
- How do a school's characteristics shape individual student outcomes?
- How does the type of institution (public, private, for-profit), affect outcomes?
- How does geograpic location affect a student's chance of success?

**2. Prediction Tools:**
- A dashboard that can be used to flag students at risk of dropping out or and graduating within 6 years
- Benchmarking tool that can be used to compare the retention rates and graduation predictors across different schools
-  Geograpic maps for institutional success that can link outcomes to other regional factors (e.g. cost of living)

**3. Stakeholders:**
- Universities and educational institutions who would want to identify and support at-risk students
- Students and families who could use tools to choose schools that give them the best chance at success
- Accredation bodies that could use these tools for quality assurance and evaluating instituions
- State and Federal policymakers that could use tools to determine where to allocate resources and funding, as well as designing interventions
- Researchers who could use these tools for adademic studies and research

**4. Practical and Ethical Questions and Considerations:**
- Could labeling a student as "at-risk" stigmatize them? ("underperforming" labels can create self-fulfilling prophecies)
- What potential biases in the data could be affecting the applicability and generalizability of the tools? (How do we make sure predictions don't reflect or reinforce existing biases?)
- Who should be provided access to these tools?
- Graduation data an inherent lag of 4-6 years.
- Just because there is correlation does not we have causation
- Aggredated data might enable individual identification (student privacy concerns)
- Public ranking of institutions could have an unfair impact (i.e. smaller institutions with less data, could introduce more bias)

**5. Other Data:**
- Socioeconomic background: family income, 
- institutional access and resource allocation to mental health resources
- geographic economic conditions by instituional location (e.g. local job markets, cost of living, economic opportunities)
- post-graduation success : employment rates, career satisfaction, average graduate starting salaries
- survey data - student satisfaction, sense of belonging, well-being

## Question 7. 
Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.